<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="PaymentService"
      class="com.husnain.XMLBasedConfig.PaymentService">
</bean>
 <bean id="orderService"
       class="com.husnain.XMLBasedConfig.OrderService">
     <constructor-arg ref="PaymentService"/>
 </bean>

</beans>